* {
    margin: 0 auto;
    padding: 0;
    font-family: Roboto;
    font-weight:400;
}


.header-index {
    color: rgb(46, 8, 153);
    font-size: 48 px;
    margin-top: 100 px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/.ttf")
}


.greating {
    color: rgb(43, 40, 40);
    text-align: center;
    padding-top: 5%;
}

.forma {
    padding-top: 5%;
    text-align: center;
}

.btn_input {
    display: flex;
    margin-top: 5%;
    color: rgb(72, 18, 222);
    width: 150px;
    height: 40px;
    border-radius: 8px;
    border-width: 1px;
    border: 1px solid #4f46e5;
    background: rgb(140, 209, 204);
}


.btn_input:hover {
    background: rgb(62, 8, 209);
    color: rgb(0, 0, 0);
    transition: 0.2s;
}

.btn_input:after {
    margin: 1px 1px;
    transition: 0.2s;
}

.select {
    text-align: center;
    width: 300px;
    height: 25px;
    border-radius: 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 0;
}

option {
    font-size: 18px;
}

option:checked {
    color: white;
    background-color: #c46213;
}

option:hover {
    color: white;
    background-color: #c2951b;
}

.quiz-card {
    border: 2px solid #4f46e5;
    padding: 20px;
    border-radius: 6px;
    color: rgb(13, 39, 166);
    background: rgb(170, 203, 242);
    display: inline-block;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.size-div {
    width: fit-content;
    margin-top: 100 px;
}

[type="radio"] {
    display: none;
}

[type="radio"]:checked + .quiz-card {
    background-color: rgb(51, 44, 182);
    color: white;
}

.quiz-card:hover {
    color: rgb(0, 233, 250);
    background-color: rgb(9, 15, 184);
}


.form-container {
    width: fit-content;
}









