<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3 class="header-index">Викторины</h3>

    <form method="POST" action="/">
    {% for i in quiz_list %}
        <div>
            <input type="radio" name="list" value="{{i[0]}}">
            <label>
                {{i[1]}}
            </label>
        </div>
    {% endfor %}

    <input type="submit" value="Начать">

    </form>
</body>
</html>